:root {
  --symbol-fonts: "Arial Unicode", "Apple Symbols", "Symbol", "Symbola_hint";
  --body-family: Calibri, FreeSans, "Open Sans", serif;
  --title-family: "Calibri Light", sans-serif;
  --mono-family: "Consolas, monospace;
}